body{
    background-color: pink;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    grid-template-rows: 35px 300px 300px;
}
#success{
    grid-column: 1/-1;
    background-color: limegreen;
}
#first{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 20px;
}
#failure{
    grid-template-columns: 1fr 4fr 4fr 4fr;
}